streamlit
langchain
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
pypdf
python-docx
unstructured
pandas
numpy
tiktoken
huggingface-hub
transformers
torch
torchvision
torchaudio
